<div class="grid">
    <mat-card class="margin">
        <mat-card-title>Cerere plata online</mat-card-title>
        <mat-card-subtitle>for: John Doe</mat-card-subtitle>
        <mat-card-content>
          <h3>Cerere Alocare Credentiale Pentru Plata Impozitelor Si Taxelor Locale Pentru Persoane Fizice</h3>
          <p>Subsemnatul/a John Doe, e-mail john.doe@email.com, numar de
            telefon 123456789, solicit a-mi fi atribuit credential in
            vederea platii prin www.ghiseul.ro</p>
          <ul>
            <li>Sunt de acord ca orice corespondenta sa fie expediata doar pe adresa de e-mail mai sus mentionata sau
              telefonic;</li>
            <li>Ridicarea credentialului se va face personal sau prin mandatar, daca nu este comunicat la adresa de e-mail mai
              sus mentionata;</li>
            <li>Plata se va efectua doar prin intermediul unui card bancar;</li>
            <li>Atasez la prezenta cerere, copie a actului de identitate a numitului/ei John Doe
            </li>
          </ul>
          <p>Semnatura</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="margin">
        <mat-card-title>Cerere plata online</mat-card-title>
        <mat-card-subtitle>for: John Doe</mat-card-subtitle>
        <mat-card-content>
          <h3>Cerere Alocare Credentiale Pentru Plata Impozitelor Si Taxelor Locale Pentru Persoane Fizice</h3>
          <p>Subsemnatul/a [Person.FirstName] [Person.LastName], e-mail [Contact.Email], numar de
            telefon [Contact.PhoneNumber], solicit a-mi fi atribuit credential in
            vederea platii prin www.ghiseul.ro</p>
          <ul>
            <li>Sunt de acord ca orice corespondenta sa fie expediata doar pe adresa de e-mail mai sus mentionata sau
              telefonic;</li>
            <li>Ridicarea credentialului se va face personal sau prin mandatar, daca nu este comunicat la adresa de e-mail mai
              sus mentionata;</li>
            <li>Plata se va efectua doar prin intermediul unui card bancar;</li>
            <li>Atasez la prezenta cerere, copie a actului de identitate a numitului/ei [Person.FirstName] [Person.LastName]
            </li>
          </ul>
          <p>Semnatura</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
</div>

