<mat-drawer-container autosize class="full-height">
  <mat-drawer mode="over" #drawer>
    <h2 class="label-margin">Mail</h2>
    <div class="row-margin">
      <button mat-button class="wide-btn" color="primary">
        <mat-icon class="right-margin material-icons-outlined">folder</mat-icon>My files
      </button>
    </div>
    <div class="row-margin">
      <button mat-button class="wide-btn" color="accent">
        <mat-icon class="right-margin material-icons-outlined">share</mat-icon>Shared with me
      </button>
    </div>
    <div class="row-margin">
      <button mat-button class="wide-btn">
        <mat-icon class="right-margin">schedule</mat-icon>Recent
      </button>
    </div>
    <div class="row-margin">
      <button mat-button class="wide-btn">
        <mat-icon class="right-margin material-icons-outlined">delete</mat-icon>Trash
      </button>
    </div>
    <mat-divider></mat-divider>
    <h4 class="label-margin">Labels</h4>
    <div class="row-margin">
      <button mat-button class="wide-btn">
        <mat-icon class="right-margin material-icons-outlined">house</mat-icon>Family
      </button>
    </div>
    <div class="row-margin">
      <button mat-button class="wide-btn">
        <mat-icon class="right-margin material-icons-outlined">group</mat-icon>Friends
      </button>
    </div>
    <div class="row-margin">
      <button mat-button class="wide-btn">
        <mat-icon class="right-margin material-icons-outlined">work</mat-icon>Work
      </button>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary" class="sticky mat-elevation-z8">
      <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Material components</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <app-template-form></app-template-form>
    <app-reactive-form></app-reactive-form>
    <app-card></app-card>
    <app-table></app-table>
    <!-- <app-form></app-form> -->
  </mat-drawer-content>
</mat-drawer-container>
