<mat-drawer-container autosize class="full-height">
  <mat-drawer mode="over" #drawer>
    <h2 class="label-margin">Mail</h2>
    <div class="row-margin">
      <button mat-button class="wide-btn" color="primary">
        <mat-icon class="right-margin material-icons-outlined">folder</mat-icon>My files
      </button>
    </div>
    <div class="row-margin">
      <button mat-button class="wide-btn">
        <mat-icon class="right-margin material-icons-outlined">share</mat-icon>Shared with me
      </button>
    </div>
    <div class="row-margin">
      <button mat-button class="wide-btn">
        <mat-icon class="right-margin">schedule</mat-icon>Recent
      </button>
    </div>
    <div class="row-margin">
      <button mat-button class="wide-btn">
        <mat-icon class="right-margin material-icons-outlined">delete</mat-icon>Trash
      </button>
    </div>
    <mat-divider></mat-divider>
    <h4 class="label-margin">Labels</h4>
    <div class="row-margin">
      <button mat-button class="wide-btn">
        <mat-icon class="right-margin material-icons-outlined">house</mat-icon>Family
      </button>
    </div>
    <div class="row-margin">
      <button mat-button class="wide-btn">
        <mat-icon class="right-margin material-icons-outlined">group</mat-icon>Friends
      </button>
    </div>
    <div class="row-margin">
      <button mat-button class="wide-btn">
        <mat-icon class="right-margin material-icons-outlined">work</mat-icon>Work
      </button>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-icon-button aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <p class="example-sidenav">You can use Angular Material's Sass mixins to customize component styles within a specific scope in your application. The CSS rule declaration in which you include a Sass mixin determines its scope. The example below shows how to customize the color of all buttons inside elements marked with the .my-special-section CSS class.</p>
    <p class="example-sidenav">By default, most components indicate browser focus by changing their background color as described by the Material Design specification. This behavior, however, can fall short of accessibility requirements, such as WCAG, which require a stronger indication of browser focus.</p>
    <p class="example-sidenav">The strong-focus-indicators-theme mixin emits only the indicator's color styles. This mixin should be included once per theme, similar to the theme mixins described above. Additionally, you can use this mixin to change the color of the focus indicators in situations in which the default color would not contrast sufficiently with the background color.</p>
  </mat-drawer-content>
</mat-drawer-container>